extends ../../layouts/default
block main
    div #{records}
    h1(class="mb-4") Danh sách tài khoản
    .card-header Danh sách
    .card-body
        .row
            .col-8
                
            .col-4
                if(role.permissions.includes("account_create"))
                    a(
                    href=`${prefixAdmin}/accounts/create`
                    class="btn btn-outline-success"
                    ) + Thêm mới
    table(
        class= "table table-hover table-sm"
        )
        thead
            tr
                th STT
                th Avatar
                th Họ tên
                th Phân quyền
                th Email
                th Trạng thái
                th Hành động
        tbody
            each item,index in records
                tr
                    td
                        input(type="checkbox"
                        name="id"
                        value=item.id
                        )
                    td
                        img(
                        src=item.avatar,
                        alt=item.title,
                        width="100px"
                        height="auto"
                        )
                    td #{item.fullname}
                    td #{item.role_id}
                    td #{item.email}

                    td
                        if item.status == "active"
                            a(
                                href="javascript:;" 
                                button-change-status
                                status=item.status
                                id=item.id
                                class="badge badge-success") Hoạt động
                        else 
                            a(href="javascript:;" 
                                button-change-status
                                status=item.status
                                id=item.id
                                class="badge badge-danger") Dừng hoạt động
                    td
                        a(class="btn btn-secondary btn-sm" href=`${prefixAdmin}/products/detail/${item.id}`) Chi tiết
                        if(role.permissions.includes("account_edit"))
                            a(class="btn btn-warning btn-sm" href=`${prefixAdmin}/products/edit/${item.id}`) Sửa
                        if(role.permissions.includes("account_delete"))
                            button(class="btn btn-danger btn-sm ml-1"
                            data-id=item.id
                            button-delete
                            ) Xóa