extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert
block main
    //- h1 #{product}
    .product-detail
        .container.my-5
            .row
                .col-6
                    .inner-thumb
                        img(src=product.thumbnail, alt=product.title)
                        
                .col-6
                    h1(class="inner-title") #{product.title}
        
                    if (product.category)
                        div(class="inner-category")
                            span Danh mục: 
                            a(href=`/products/${product.category.slug}`) #{product.category.title}
                    br

                    if (product.price)
                        div(class="mb-4") Giá: <b>#{product.price}$</b>

                    if (product.discountPercentage)
                        div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>
                    if (product.priceNew)
                        div(class="mb-4") Giá còn: <b>#{product.priceNew}$</b>
                    if (product.stock)
                        div(class="mb-4") Số lượng còn lại: <b>#{product.stock}</b>
                    form(action=`/cart/add/${product.id}` method="POST")
                        input(class="form-control mb-2", type="number", name="quantity", value="1", min="1", max=product.stock)
                        button(class="btn btn-success btn-block" type="submit") Thêm vào giỏ hàng
                    br
                    if (product.thumbnail)
                        div(class="mb-4")
                            img(src=product.thumbnail style="width: 100px")
        hr
        .container.my-5
            .row
                .col-12
                    if (product.description)
                    div(class="mb-4") !{product.description} 
            
        //- description mang giá trị css của tiny nên phải đổi từ # thành !
    //- "/ ở đầu url mag giá trị tuyệt đối, k dùg để nối url"
    script(src="/admin/js/products.js")